# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.{j2,j2,json,md,mjs,sh,ts,yaml,yml}]
indent_style = space
indent_size = 2

[.{editorconfig,yamllint}]
indent_style = space
indent_size = 2

[.*{version,VERSION,rc}]
insert_final_newline = false
